.timer-container {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .timer-container {
    margin-top: 36px;
  }
}

.timer {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.timer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-digits {
  color: var(--color-text);
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
}

@media screen and (min-width: 1200px) {
  .timer-digits {
    font-size: 32px;
  }
}

.timer-seconds {
  color: var(--color-primary);
}

.timer-separator {
  color: rgba(1, 1, 1, 0.2);
  font-family: var(--font-secondary);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
}

.timer-label {
  color: var(--color-text);
  font-family: var(--font-secondary);
  font-size: 8px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
